<div class="graph-container-options" ng-controller="graphOptionController" style="width: 100%;">
    <div draggable-container="$parent.vis.params.graphNodes" style="width: 100%;">

        <div class="kuiSideBarSectionTitle">
            <div class="kuiSideBarSectionTitle__text">
                Node settings
            </div>
        </div>
        <!--<div ng-repeat="agg in vis.aggs" draggable-item="output" style="width: 100%;">-->
        <div ng-repeat="agg in vis.params.aggs_controller" draggable-item="output" style="width: 100%;">
            <div class="vis-editor-agg-header output" style="width: 100%;">
                <!-- open/close editor -->
                <button aria-label="{{editorOpen ? 'Close' : 'Open'}} Editor" ng-click="editorOpen = !editorOpen" type="button" class="btn btn-primary btn-xs vis-editor-agg-header-toggle">
                    <i aria-hidden="true" ng-class="{ 'fa-caret-down': editorOpen, 'fa-caret-right': !editorOpen }" class="fa"></i>
                </button>

                <div>
                    <span class="vis-editor-agg-header-title">
                    {{agg.title}} - {{agg.field}}
                  </span>
                    <!-- buttons -->
                    <div ng-show="vis.params.graphNodes.length > 1" class="vis-editor-agg-header-controls btn-group">
                        <button ng-click="output.enabled = !output.enabled" aria-label="{{output.enabled ? 'Disable' : 'Enable'}} Output" tooltip="{{output.enabled ? 'Disable' : 'Enable'}} Output" tooltip-append-to-body="true" type="button" class="btn btn-xs">
                            <i aria-hidden="true" class="fa" ng-class="{'fa-toggle-off': !output.enabled, 'fa-toggle-on': output.enabled}"></i>
                        </button>

                        <button draggable-handle aria-label="Modify Priority by Dragging" tooltip="Modify Priority by Dragging" tooltip-append-to-body="true" type="button" class="btn btn-xs gu-handle">
                            <i aria-hidden="true" class="fa fa-arrows-v"></i>
                        </button>

                        <button aria-label="Remove Output" ng-click="removeGraphNodes(output, $parent.vis.params.graphNodes)" tooltip="Remove Output" tooltip-append-to-body="true" type="button" class="btn btn-xs btn-danger">
                            <i aria-hidden="true" class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- editor -->
            <div ng-if="editorOpen">

                <div class="form-group">
                    <label id=labelCheckVisible>Show as node or decorate others</label>
                    <input id=inputCheckVisible type="checkbox" checked ng-model="vis.params.visibleNode[$index]">
                </div>
                <fieldset ng-hide='vis.params.visibleNode[$index] !== true'>
                    <div class="form-group">
                        <label>Node size - field - scaling (min - max)</label>
                        <select id=inputComboSize class="form-control" ng-change="graphController"
                              ng-options="(metric.title + ' ' + metric.field) for metric in vis.params.metrics_controller track by metric.id"
                              ng-model="vis.params.nodeSize[$index]">
                        </select>
                        <!-- <select id=inputComboSize class="form-control" ng-model="vis.params.nodeSize[$index]" ng-change="graphController">
                            <option ng-repeat="metric in vis.params.metrics_controller" ng-selected= "{{metric.id == 0}}" ng-init="vis.params.nodeSize[$index] = vis.params.nodeSize[0]" value="{{metric.id}}">{{metric.title}} {{metric.field}}</option>
                        </select> -->

                        <input id=inputTextSize class="form-control" type="number" ng-model="vis.params.lowNodeSize[$index]" value="vis.params.lowNodeSize[$index]" min="3" max="50" step="1">
                        <input id=inputTextSize class="form-control" type="number" ng-disabled="vis.params.nodeSize[$index] == 0" ng-model="vis.params.highNodeSize[$index]" value="vis.params.highNodeSize[$index]" min="3" max="50" step="1">
                    </div>

                    <div class="form-group">
                        <label>Link size - field - scaling (min - max)</label>
                        <select id=inputComboSize class="form-control" ng-change="graphController"
                              ng-options="(metric.title + ' ' + metric.field) for metric in vis.params.metrics_controller track by metric.id"
                              ng-model="vis.params.linkSize[$index]">
                        </select>
                        <!-- <select id=inputComboSize class="form-control" ng-model="vis.params.linkSize[$index]" ng-change="graphController">
                            <option ng-repeat="metric in vis.params.metrics_controller" value="{{metric.id}}">{{metric.title}} {{metric.field}}</option>
                        </select> -->

                        <input id=inputTextSize class="form-control" type="number" ng-model="vis.params.lowLinkSize[$index]" value="8" min="3" max="50" step="1">
                        <input id=inputTextSize class="form-control" type="number" ng-disabled="vis.params.linkSize[$index] == 0" ng-model="vis.params.highLinkSize[$index]" value="8" min="3" max="50" step="1">
                    </div>

                    <div class="form-group">
                        <label>Image field</label>
                        <select class="form-control" ng-change="graphController"
                              ng-options="(aggs.title + ' ' + aggs.field) for aggs in vis.params.aggs_controller_decoration track by aggs.id"
                              ng-model="vis.params.imageNode[$index]">
                        </select>
                        <!-- <select class="form-control" ng-model="vis.params.imageNode[$index]" ng-change="graphController">
                            <option ng-repeat="aggs in vis.params.aggs_controller_decoration" value="{{aggs.id}}">{{aggs.title}} {{aggs.field}}</option>
                        </select> -->
                    </div>

                    <div class="form-group">
                        <label>Colour nodes field</label>
                        <select class="form-control" ng-change="graphController"
                              ng-options="(aggs.title + ' ' + aggs.field) for aggs in vis.params.aggs_controller_decoration track by aggs.id"
                              ng-model="vis.params.colourNode[$index]">
                        </select>
                        <!--<select class="form-control" ng-model="vis.params.colourNode[$index]" ng-change="graphController">
                            <option ng-repeat="aggs in vis.params.aggs_controller_decoration" value="{{aggs.id}}">{{aggs.title}} {{aggs.field}}</option>
                        </select> -->
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="kuiSideBarSectionTitle">
        <div class="kuiSideBarSectionTitle__text">
            Force settings
        </div>
    </div>
    <br>
    <div class="form-group">
        <label>alphaTarget: {{ vis.params.alphaTarget }}</label>
    <input type="range" ng-model="vis.params.alphaTarget" class="form-control" min="0" max="1" step="0.1" />
        <label>distance: {{ vis.params.distance }}</label>
        <input type="range" ng-model="vis.params.distance" class="form-control" min="0" max="100" step="5" />
        <label>distanceMax: {{ vis.params.distanceMax }}</label>
        <input type="range" ng-model="vis.params.distanceMax" class="form-control" min="0" max="500" step="5" />
        <label>strength: {{ vis.params.strength }}</label>
        <input type="range" ng-model="vis.params.strength" class="form-control" min="-1000" max="1900" step="10" />
    </div>

</div>